@use "../../../../styles/abstracts/mixins/mixins" as *;
@use "../../../../styles/base/colors/colors" as color;
@use "../../../../styles/base/globals/globals" as size;

.groupScheduleInfoDate {
    &Container {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.2rem;
    }

    &Heading {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        font-size: size.$group-date-heading-szie;
        color: color.$color-black-heading;
        line-height: 2.58rem;
        @include elementFocus;
    }

    &Paragraph {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        color: color.$color-black-heading;
        line-height: 1.29rem;
        @include elementFocus;
    }
}

.groupPeriods {
    &Container {
        width: 100%;
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        gap: 1.2rem;
    }

    &Heading {
        @include defaultHeading;
        @include elementFocus;
    }

    &Info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    &Paragraph {
        line-height: 1.6125rem;
        font-size: size.$alert-banner-size;
        color: #a2aeb3;
        @include elementFocus;
    }

    &Button {
        @include notificationButton;
        @include elementFocus;
    }

    &Link {
        color: color.$color-white;
    }
}

.groupScheduleStatistic {
    &Container {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    &Heading {
        @include defaultHeading;
        -webkit-margin-after: 1rem;
        margin-block-end: 1rem;
        @include elementFocus;
    }

    &Paragraph {
        @include defaultParagraph;
        max-width: 25rem;
        -webkit-margin-after: 0.75rem;
        margin-block-end: 0.75rem;
        @include elementFocus;
    }

    &Info {
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;

        &On {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            @include defaultParagraph;
            @include elementFocus;

            &::before {
                content: "";
                width: 1.875rem;
                height: 1.25rem;
                background: color.$color-shedule-hour-background;
            }
        }

        &Off {
            display: flex;
            align-items: center;
            gap: 0.3rem;
            @include defaultParagraph;
            @include elementFocus;
        }
    }
}

@media (max-width: 35.625rem) {
    .groupScheduleInfoDate {
        &Heading {
            font-size: 1.5rem;
        }
    }
}
