@use "../../../styles/abstracts/mixins/mixins" as *;
@use "../../../styles/base/colors/colors" as color;
@use "../../../styles/base/globals/globals" as size;

.burger {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    &Container {
        width: 100%;
        height: 100%;
        background: color.$dark-text;
        padding: 1.5625rem;
    }

    &Nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &CloseButton {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &RightBlock {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    &Menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 2rem;
        padding-block-start: 3rem;

        &List {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &ListItem {
            font-weight: 500;
            font-size: size.$group-date-heading-szie;
            @include scaleElement;

            & > a {
                color: color.$color-black-heading;
                text-decoration: underline;
            }
        }
    }

    &UiControlsContainer {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-flow: column nowrap;
        gap: 1.5rem;
    }

    &UiControlsBlock {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4rem;
    }

    &NavMainBlock {
        display: flex;
        gap: 2rem;
    }

    &UiControlsHeading {
        @include controlHeading;
    }

    &UiControlsButtonsBlock {
        display: flex;
        gap: 2rem;

        & .controlsButton {
            width: 2.5rem;
            height: 2.5rem;
            font-size: size.$alert-banner-size;
            background: color.$color-control-button;
            border-radius: 0.5rem;

            &:nth-child(2) {
                font-weight: 500;
            }

            &:nth-child(3) {
                font-weight: 700;
            }
        }

        & .active {
            border: 0.2rem solid color.$color-black-heading;
        }
    }
}

@media (max-width: 46.875rem) {
    .burger {
        &RightBlock {
            flex-direction: column;
            gap: 0.5rem;
        }
    }
}
@media (max-width: 32.5rem) {
    .burger {
        &RightBlock {
            display: none;
        }

        &UiControlsBlock {
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
        }
        &UiControlsContainer {
            gap: 4rem;
        }

        &Container {
            padding-inline: 1rem;
        }
    }
}
