@use "../../base/colors/colors" as color;
@use "../../base/globals/globals" as size;

@mixin resizeContainer {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding-inline: 1.875rem;
}

@mixin mainHeading {
    color: color.$color-black-heading;
    font-size: 3.5rem;
    max-width: 65rem;
    line-height: 4.3125rem;
    text-align: center;
    text-align-last: center;
    font-weight: 500;

    font-size: calc(1.5rem + 2vw);

    @media (max-width: 36rem) {
        font-size: 2.5rem;
    }

    @media (max-width: 48rem) {
        font-size: 2rem;
    }

    @media (min-width: 75rem) {
        font-size: 4rem;
    }
}

@mixin notificationButton {
    padding: 0.875rem 1rem;
    gap: 0.75rem;
    border-radius: 0.75rem;
    background: color.$color-notification-bg;
    color: color.$light-background;
    display: flex;
    width: 100%;
    max-width: 21.875rem;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    font-size: size.$alert-banner-size;
    font-weight: 500;
    line-height: 1.6125rem;

    transition: transform 0.4s ease-in-out 0s;

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 65rem) {
        font-size: 1rem;
        max-width: 17rem;
    }
}

@mixin defaultHeading {
    line-height: 1.6125rem;
    font-size: size.$alert-banner-size;
    color: color.$color-black-heading;
}

@mixin defaultParagraph {
    line-height: 1.375rem;
    color: color.$color-black-heading;
}

@mixin elementFocus {
    &:focus {
        outline-offset: 0.125rem;
        border-radius: 1rem;
        border: 0.125rem solid color.$color-notification-bg;
    }
}

@mixin scaleElement {
    transition: transform 0.3s ease-in-out 0s;

    &:hover {
        transform: scale(1.2);
    }
}
