@use "../base/reset/reset";
@use "../base/colors/colors" as color;
@use "../themes/grayscale";
@use "../themes/dark";
@use "../themes/cataract";
@use "../themes/coloboma";
@use "../themes/glaucoma";
@use "../themes/photophobia";
@use "../themes/keratoconus";

[data-font="small"] {
    font-size: 0.75rem;
}

[data-font="medium"] {
    font-size: 1rem;
}

[data-font="large"] {
    font-size: 1.25rem;
}

button:focus {
    outline: 3px solid color.$color-notification-bg;
    outline-offset: 2px;
    border-radius: 1rem;
}

button:focus-visible {
    outline: 2px solid color.$color-notification-bg;
}

button:focus:not(:focus-visible) {
    outline: none;
}
