@use "../../../styles/abstracts/mixins/mixins" as *;
@use "../../../styles/base/colors/colors" as color;
@use "../../../styles/base/globals/globals" as size;

.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-inline-end: 1.5625rem;

    @media (max-width: 25rem) {
        margin-inline-end: 0.8rem;
    }
}
